.investments-list-card {
  padding: 1.5rem;
}

.investment-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.investment-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.return-chip {
  font-size: 0.75rem !important;
} 